
.form-group > span{
	visibility:hidden;
}
.has-error > span{
	visibility:visible;
}
#datagrid1body{
	width:170px important!;
	height:300px;
	position:relative;
}
#input{
	padding-top:20px;
	padding-bottom:20px;
}
#inputOptions{
	float: right;
	top:25px;
}

#inputOptions > a{
	 margin-left: 20px;
	 float: right;
}
h4 {
  padding-left: 20px;
}

body {
  padding: 40px;
}

#formStats{
	padding-top:40px;
	border-style: solid;
}
.columnA, tr td:nth-child(1){
	width:120px;
}
.columnB , tr td:nth-child(2){
	width:34px;
}
.columnC , tr td:nth-last-child(1){
	width:34px;
}
textarea{
	width:100%;
	height:100px;
}
ul {
  list-style-type: none;
  padding: 0;
}

	/* Popup CSS */
	
.content .row  {
  margin-right: 0px;
	margin-left: 0px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 1000px){
  .popup{
    width: 90%;
  }
}

header , .darkTheme {
  width: 100%;
  background: #38405e;
  padding: 3em 0;
  color: white;
}
header h1 {
  font-weight: 300;
  font-size: 36px;
  margin: 0.75em 0;
  padding-left:40px;
}
header h1 span, .darkTheme span {
  font-size: 90%;
  color: #1bbbef;
}
#SongList span{
	color:#ffffff;
}

